<form (ngSubmit)="editUser(selectedCourse, selectedGrade)">
    <div class>
        <div class="modal-header">
            <h2 class="modal-title">EDIT USER</h2>
            <button mat-button mat-dialog-close class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <mat-dialog-content>

            <div class="form-group row">

                <label for="inputId3" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputId3" placeholder="ID"
                    [(ngModel)]="user.id" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername3" placeholder="Username"
                           [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="Password"
                           [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <!--<fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Usertype</legend>
                    <div class="col-sm-10">
                        <div class="form-check" *ngFor="let utype of userTypes">
                            <input class="form-check-input" type="radio" name="utype" id="utype" [value]="utype"
                                   [checked]="user.usertype === utype">
                            <label class="form-check-label" for="utype">
                                {{utype}}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <p><span>You selected: {{selectedType}}</span></p>-->

<!--            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Courses</legend>
                    <div class="col-sm-10" *ngFor="let course of courselist">
                        <div class="form-check" *ngIf="user.courses.includes(course)">
                            <input class="form-check-input" type="radio" name="course" id="course" [value]="course.name"
                            >
                            <label class="form-check-label" for="course">
                                {{course.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <p><span>You selected: {{selectedCourse}}</span></p>

            <fieldset class="form-group" *ngIf="user.usertype==='student'">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Grades</legend>
                    <div class="col-sm-10">
                        <div class="form-check" *ngFor="let grade of Grades" >
                            <input class="form-check-input" type="radio" name="grade" id="grade" [value]="grade"
                                   >
                            <label class="form-check-label" for="grade">
                                {{grade}}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <p><span>You selected: {{selectedGrade}}</span></p>-->
        </mat-dialog-content>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="mat-button" mat-flat-button color="accent" (click)="editUser(selectedCourse, selectedGrade)">CLOSE</button>&nbsp;
                <button type="button" class="mat-button" mat-flat-button color="accent" (click)="manageCourses(user)">MANAGE COURSES</button> &nbsp;&nbsp;
<!--                <button mat-dialog-close="" class="mat-button" mat-flat-button color="primary" type="button">CANCEL</button>-->
            </div>
        </div>
    </div>
</form>
