<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4" >
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Login</h1>
            <form role="form">
                <div class="form-content">
                    <form>
                        <div class="form-group">
                            <input
                                [placeholder]="'Username'"
                                class="form-control input-underline input-lg"
                                type="text"
                                [(ngModel)]="user.username"  required name="username"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                [placeholder]="'Password'"
                                class="form-control input-underline input-lg"
                                type="password"
                                [(ngModel)]="user.password"  required name="password"
                            />
                        </div>
                    </form>
                </div>
                <div class="form-group">
                    <a (click)="onLoggedin(user.username, user.password)"  class="btn rounded-btn">{{
                        'Log in'
                        }}</a>
                </div>
                &nbsp;</form>
        </div>
    </div>
</div>
