<div [@routerTransition]>
    <app-page-header [heading]="'My Course List'" [icon]="'fa-table'"></app-page-header>
    <div class="card mb-3">
        <div class="card-header">My Course List</div>
        <table class="card-body table table-hover">
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of user.courses">
                <td>{{course.code}}</td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
