<form novalidate (ngSubmit)="f.form.valid && addUser(user.id, user.username, user.password, selectedType, selectedCourse, selectedGrade)"
      name="form" #f="ngForm">
    <div>
        <div class="modal-header">
            <h2 class="modal-title">ADD USER</h2>
            <button mat-button mat-dialog-close class="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <mat-dialog-content>
    <div class="form-group row">

       <label for="inputId3" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="id" id="inputId3" placeholder="ID"
                    [(ngModel)]="user.id" #id="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" required>
            <div *ngIf="f.submitted && id.invalid" class="invalid-feedback">
                <div *ngIf="id.errors.required">ID is required</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputUsername3" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="username" id="inputUsername3" placeholder="Username"
                   [(ngModel)]="user.username" #username="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors.required">Username is required</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="password" id="inputPassword3" placeholder="Password"
                   [(ngModel)]="user.password" #password="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password is required</div>
            </div>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Usertype</legend>
            <div class="col-sm-10">
                <div class="form-check" *ngFor="let utype of userTypes">
                    <input class="form-check-input" type="radio" name="utype" id="utype" [value]="utype"
                           (change)="radioTypeChangeHandler($event)">
                    <label class="form-check-label" for="utype">
                        {{utype}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <p><span>You selected: {{selectedType}}</span></p>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Courses</legend>
            <div class="col-sm-10">
                <div class="form-check" *ngFor="let course of courselist">
                    <input class="form-check-input" type="radio" name="course" id="course" [value]="course.name"
                           (change)="radioCourseChangeHandler($event)">
                    <label class="form-check-label" for="course">
                        {{course.name}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <p><span>You selected: {{selectedCourse}}</span></p>

    <fieldset class="form-group" *ngIf="selectedType === 'student'">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Grades</legend>
            <div class="col-sm-10">
                <div class="form-check" *ngFor="let grade of Grades" >
                    <input class="form-check-input" type="radio" name="grade" id="grade" [value]="grade"
                    (change)="radioGradeChangeHandler($event)"
                           [checked]="grade === 'null'">
                    <label class="form-check-label" for="grade">
                        {{grade}}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <p><span>You selected: {{selectedGrade}}</span></p>

        </mat-dialog-content>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" mat-flat-button color="accent">ADD</button> &nbsp;
            <button mat-dialog-close type="button" mat-flat-button color="primary">CANCEL</button>
        </div>
    </div>
    </div>
</form>


<!--<mat-card class="card">
<mat-toolbar>
    ADD USER
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{ user | json }}</p>

<form novalidate #addUserForm="ngForm"
      (ngSubmit)="addUser(user.id, user.username, user.password, selectedType, selectedCourse, selectedGrade)">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput placeholder="Id" type="text"
                       [(ngModel)]="user.id" name="id"
                       #id="ngModel" required>
                <mat-error *ngIf="id.errors?.required">ID is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Username" type="text"
                       [(ngModel)]="user.username" name="username"
                       #username="ngModel" required>
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput placeholder="Password" type="text"
                       [(ngModel)]="user.password" name="password"
                       #password="ngModel" required>
                <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput *ngFor="let utype of userTypes" (change)="radioTypeChangeHandler($event)">
                &lt;!&ndash;<md-checkbox (change)="radioTypeChangeHandler($event)">{{utype}}</md-checkbox>&ndash;&gt;
            </mat-form-field>
        </p>

            <&lt;!&ndash;mat-form-field>
                <section *ngFor="let utype of userTypes">
                <mat-checkbox [(ngModel)]="selectedType"
                              #selectedType="ngModel"
                              [value]="utype"
                              (change)="radioTypeChangeHandler($event)"
                              required>{{utype}}</mat-checkbox>
                <mat-error *ngIf="selectedType.errors?.required">Type is required</mat-error>
                </section>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Course" type="text"
                       [(ngModel)]="selectedCourse" name="course"
                       #selectedCourse="ngModel" required>
                <mat-error *ngIf="selectedCourse.errors?.required">Course is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Grade" type="text"
                       [(ngModel)]="selectedGrade" name="grade"
                       #selectedCourse="ngModel" required>
            </mat-form-field>&ndash;&gt;
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit"
                [disabled]="addUserForm.form.invalid">Add</button>
    </mat-dialog-actions>
</form>
</mat-card>-->
