<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar" *ngIf="currentUser">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' }}</span>
        </a>

        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/user-list">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'User List' }}</span>
        </a>

        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/course-list">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Course List' }}</span>
        </a>

        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/profile">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Profile' }}</span>
        </a>

        <a (click)="onLoggedout()" class="list-group-item" [routerLink]="['/login']">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;
            <span>{{ 'Log Out' }}</span>
        </a>
        </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
